@{
    ViewData["Title"] = "Index";
}

<h1>Your Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>Qauntity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">SubTotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Carte.Lines)
        {
            <tr>
                <td class="text-left">@item.Quantity</td>
                <td class="text-left">@item.Product.Name</td>
                <td class="text-right">@item.Product.Price.ToString("c")</td>
                <td class="text-right">@((item.Quantity*item.Product.Price).ToString("c"))</td>
                <td>@Html.ActionLink("Remove", "RemoveFromCarte", "Carte",new {productId=item.Product.ProductID,returnUrl= Context.Request.Path},new {@class="btn btn-warning"})</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Carte.CompTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary text-white m-4" href="@(Carte.returnUrl)" role="button">Continue Shopping</a>

    @Html.ActionLink("Order Now", "Order", "Carte", null, new { @class="btn btn-primary"})
</div>
